* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7F7FF;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    width: 100%;
    line-height: 100%;
    letter-spacing: 0%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 0.9375rem;
    box-shadow: 0px 4px 20px 5px #00000005;
    background-color: #FFFFFF;
    width: 100%;
    height: 7.75rem;
    overflow: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 13px;
    width: 21%;
    height: 55%;
}

.logo {
    width: 21%;
    height: 66%;
}

.logo-container>span {
    font-family: Poppins;
    font-weight: 700;
    font-size: 2.8125rem;
    color: #1E1E1E;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    min-width: 40%;
}

.nav-links {
    color: #9A9A9A;
    cursor: pointer;
}

.news>button {
    background-color: #3F52FF;
    color: white;
    border: none;
    border-radius: 3px;
    width: 2.375rem;
    height: 1rem;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0.7rem;
}

.products {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.brokers {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.signIn-signUp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 34%;
}

.sign-up {
    width: 52%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: #3F52FF;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 0.9375rem;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}

.signIn-signUp>a {
    color: #9A9A9A;
    text-decoration: none;
}

@media (max-width:1500px) {
    nav {
        justify-content: space-between;
    }

    .logo-container>span {
        font-size: 1.8rem;
    }

    .nav-list {
        width: 50%;
    }

    .signIn-signUp {
        width: 25%;
    }
}

header {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 131px;
    left: 4%;
}

.heading {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;
}

.description {
    font-weight: 300;
    font-size: 0.875rem;
}

#upcomingIpo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 42px;
    position: absolute;
    top: 227px;
    left: 4%;
}

#upcomingIpo>button {
    background-color: #3F52FF;
    color: white;
    border: none;
    border-radius: 10px;
    width: 8%;
    height: 100%;
    font-family: Poppins;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 100%;
    letter-spacing: 0%;

}

.text-title {
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.text {
    font-weight: 300;
    font-size: 0.875rem;
}

.scroll-dots {
    position: relative;
    top:235px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #467cff;
}

svg{
    cursor: pointer;
}

.next{
    position: absolute;
    right: 0;
    top:600px;
}

.previous{
    position: absolute;
    top:600px;
}