body {
    font-family: Poppins;
    line-height: 100%;
    letter-spacing: 0%;
    overflow-x: hidden;
}

.card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    width: 93%;
    height: 470px;
    top: 235px;
    gap: 75px;
    margin: 0px 60px;
    overflow-x: auto;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #3F52FF1A;
    width: 27%;
    min-width: 410px;
    max-width: 550px;
    min-height: 450px;
    border-radius: 10px;
    padding: 0px 25px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px 0px #3F52FF1A;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    position: relative;
    white-space: nowrap;
    width: 75%;
    height: auto;
    top: 10%;
    gap: 15px;
}

.title {
    font-weight: 400;
    font-size: 1.5rem;
    color: #467CFF;
    margin-left: 10px;
    margin-bottom: 10px;
    text-wrap:wrap;
    line-height: 1.15;
}

.title-container>img {
    width: 15%;
    height: 15%;
    min-width: 110px;
    max-width: 110px;
    max-height: 90px;
}

.ipo-details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ipo-details table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.ipo-details th {
    font-size: 1.125rem;
    font-weight: 400;
    color: #5A5858;
    text-align: start;
    padding-bottom: 1rem;
}

.ipo-details td {
    font-size: 1.125rem;
    font-weight: 600;
    text-align: start;
    color: #000000;
    padding: 0.2rem 0;
}

.table-2 {
    margin-bottom: 0 !important;
}

.buttons {
    width: 15%;
    position: relative;
    top: 0;
    display: flex;
    gap: 0.5rem;
}

#Rhp,#Drhp {
    width: 40%;
    min-width: 100px;
    padding: 0.6rem 0.3rem 0.6rem 0.6rem;
    border-radius: 10px;
    border: none;
    background-color: #E1EFFF;
    color: #000000;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#Drhp{
    padding-right: 0.6rem;
}
#Rhp:hover , #Drhp:hover {
    background-color: #d2e2f9;
}

@media (max-width:1500px) {
    .card{
        width: 23%;
    }
    .title{
        font-size: 1.35rem;
    }
    .ipo-details th{
        font-size: 1.085rem;
    }
    .ipo-details td{
        font-size: 1.085rem;
    }
    #Rhp,#Drhp{
        font-size: 1.3rem;
    }
}

@media (max-width:1024px) {
    .card{
        width: 18%;
    }
    .title{
        font-size: 1.2rem;
    }
    .ipo-details th{
        font-size: 0.95rem;
    }
    .ipo-details td{
        font-size: 0.95rem;
    }
    #Rhp,#Drhp{
        font-size: 1.2rem;
    }
}